 @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

            *{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                outline: none;
                list-style: none;
                text-decoration: none;
                font-family: 'Roboto', sans-serif;
            }

            body{
                background: #2E2E2E;
                font-size: 14px;
            }

            .wrapper .header{
                max-width: 350px;
                width: 100%;
                height: auto;
                margin: 50px auto;
            }

            .wrapper .header .top,
            .wrapper .signup{
                background: #3A3A3A;
                border: 1px solid #707070;
                border-radius: 1px;
                padding: 40px 40px 20px;
            }

            .wrapper .header .logo img{
                display: block;
                margin: 0 auto 35px;
            }

            #ono_logo{
                width: 262px;
                height: 262px;
            }

            button {
                background: none!important;
                border: none;
                padding: 0!important;
                /*optional*/
                font-family: arial, sans-serif;
                /*input has OS specific font-family*/
                color: #fff;
                cursor: pointer;
            }

            a, p{
                color: #ffffff;
                text-decoration: none;
            }

            h3{
                font-size: 15px;
                color: brown;
                text-align: center;
                margin-top: 20px;
            }

            .wrapper .header .form .input_field{
                margin-bottom: 5px;
            }

            .wrapper .header .form .input_field .input{
                width: 100%;
                background: #fafafa;
                border: 1px solid #efefef;
                font-size: 12px;
                border-radius: 3px;
                color: #262626;
                padding: 10px;
            }

            .wrapper .header .form .input_field .input:focus{
                border: 1px solid #b2b2b2;
            }

            .wrapper .header .form .btn{
                margin: 10px 0;
                background-color: #3897f0;
                border: 1px solid #3897f0;
                border-radius: 4px;
                text-align: center;
                padding: 5px;
            }

            .wrapper .header .form .btn a{
                color: #fff;
                display: block;
            }

            .wrapper .dif{
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .wrapper .dif .forgot{
                font-size: 12px;
                text-align: center;
                margin-top: 20px;
            }

            .greeting{
                font-size: 12px;
                text-align: center;
                margin-bottom: 20px;
            }

            .wrapper .signup{
                margin: 10px 0 20px;
                padding: 25px 40px;
                text-align: center;
                color: #e6e6e6;
            }

            .wrapper .signup a{
                color: #3897f0;
            }

            .footer{
                max-width: 935px;
                width: 100%;
                margin: 0 auto;
                padding: 40px 0;
                display: flex;
                justify-content: space-between;
            }