<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
        <title>ONO</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="header">
                <div class="top">
                    <div class="logo">
                        <img id="ono_logo" src="{{ url_for('static', filename='img/ono_logo.png')}}" alt="logo">
                    </div>
                    <div class="form">
                        <form method="post" action="{{ url_for('home') }}">
                            <div class="input_field">
                                <input class="input" type="text" name="username" placeholder="Username">
                            </div>
                            <div class="input_field">
                                <input class="input" type="password" name="password" placeholder="Password">
                            </div>  
                            <div class='btn'>
                                <button type="submit">Submit</button>
                            </div>  
                        </form>
                    </div>
                    <h3> {{ message }} </h3>
                    <div class="dif">
                        <div class="forgot">
                            <a href="/">Forgot password?</a>
                        </div>
                    </div> 
                </div>
                <div class="signup">
                    <p>Don't have an account? <a href="/signup">Sign up</a></p>
                    <p> Want to go Anon? <a href="/menu"> Anon Mode </a>
                </div>
            </div>
        </div>
    </body>
</html>