<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <title>ONO</title> 
    </head>
    <body>
        <div class='wrapper'>
            <div class="header">
                <div class="top">
                    <div class="logo">
                        <img id="ono_logo" src="{{ url_for('static', filename='img/ono_logo.png')}}" alt="logo">
                    </div>
                    <div class="dif">
                        <div class="greeting">
                            <p> Hi 
                                {% if current_user.is_authenticated %}
                                    {{ current_user.username }}!
                                {% else %}
                                    Anon! (Be safe)
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="form">
                        <form action="/chat">
                            <div class="input_field">
                                <input class="input" type="text" name="room" placeholder="Enter room ID">
                            </div>
                            <div class="btn">
                                <button type="submit">Submit</button>
                            </div>
                        </form>

                        <form action="/logout">
                            <div class="btn">
                                <button type="submit">Logout</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
    </body>
</html>