<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <title>ONO (SignUp)</title>       
    </head>
    <body>
        <div class="wrapper">
            <div class="header">
                <div class="top">
                    <div class="logo">
                        <img id="ono_logo" src="{{ url_for('static', filename='img/ono_logo.png')}}" alt="logo">
                    </div>
                    <h3> {{ message }}</h3>
                    <div class="form">
                        <form method="post" action="/signup">
                            <div class="input_field">
                                <input class="input" type="text" name="username" placeholder="Username">
                            </div>
                            <div class="input_field">
                                <input class="input" type="email" name="email" placeholder="Email">
                            </div>
                            <div class="input_field">
                                <input class="input" type="password" name="password" placeholder="Password">
                            </div>
                            <div class="btn">
                                <button type="submit">Sign Up!</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>